@import url('/styles/base.css');

#container {
    padding: 10px;
}

#container * {
    margin: 0;
    padding: 0;
}

#container>* {
    margin-bottom: 5px;
}

#container iframe {
    border: none;

    width: 100%;
}