<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/overrides.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>The Door</title>
</head>
<body class="d-flex flex-column vh-100 login-body">
    <main class="container mt-auto">
    <marquee class="mt-auto" behavior="scroll" direction="left">Breath
        Air!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What
        color is your
        Bugatti?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If
        you are over 15 and like cartoons you are a loser. Anime dragon ball Z etc. No excuse. Plus ANY woman loses respect
        for you. Grow up.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I
        don’t know how to administer a CPR. However, I will not administer a CPR unless you’re a Hot
        female.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Everyone
        has a Lambo or a Ferrari, it’s
        easy.</marquee>
        <div class="container d-flex juistify-content-center align-items-center mt-5">
            <div class="row flex-fill">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title ">Exit Matrix</h1>
                            <br>
                            <form action="/login" method="POST" class="needs-validation" novalidate>
                                <div class="mb-3">
                                    <label class="form-label" for="username"> Username</label>
                                    <input class="form-control" type="text" name="username" id="username" spellcheck="false" autofocus required>
                                    <div class="valid-feedback">
                                        looks good!
                                    </div>
                                    <br>
                                    <div class="mb-3">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" name="password" id="password" required>
                                        <div class="valid-feedback">
                                            looks good!
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-grid">
                                        <button class="btn btn-success btn-block" type="submit">Exit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer py-3 mt-auto footer-color">
        <div class="container">
            <span class="footer-text">&copy; UCTF 2023</span>
        </div>
    </footer>


<audio autoplay loop>
    <source src="IndilaTournerDansLeVide.mp3" type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="javascripts/validateForms.js"></script>
<script src="javascripts/play.js"></script>
</body>
</html>