<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/overrides.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Top G</title>
</head>
<body class="user-body">

    <main class="container-fluid px-5 me-0">
            <div class="d-flex align-items-start">
            <h1 class="looser">Stop You! You are not a Top-G.<br>You're still a LOOSER!<br><br>In order to escape from matrix you sould become Top-G</h1>
            <form action="/logout" method="get" class="mt-5 ms-auto">
                <button type="submit" class="btn btn-danger">Go Back</button>
            </form>
            </div>
            <p>in other words you should login as <code>topg</code></p>
        <div class="col-10 mt-5">
            <br>
            <div class="row container">
                <div class="col-6">
                    <div class="row">
                    <h3>How to become Top-G:</h3>
                    <ul class="row">
                        <li>Diamond-Shape hand guesture: Maintaining the hand gesture, even while sleeping, even in when you're going to jail.</li>
                        <img class="col-6" src="thehand.webp" alt="">
                        <p>&#8203</p>
                        <li>Buy a Lamborghini: Owning a Lamborghini and sharing its color is often seen as a symbol of success, reflecting achievement and the ability to enjoy luxury rewards.</li>
                        <img class="col-6" src="thecar.jpg" alt="">
                    </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                    <ul class="row">
                        <li>Don't trust smartwatch users: There is nothing you can do on a smart watch than you could just pull your phone out your pocket and use your phone properly every time I've ever seen anyone try and do something on a smart watch I just sit there looking at them thinking what kind of materialistic capitalistic moron are you.</li>
                        <img class="col-6" src="thewatch.webp" alt="">
                        <p>&#8203</p>
                        <li>Never Order Sushi: There's no power in sushi the whole point of food, food and water or food and liquids is all you put in your body and the idea is that you drive power from it.</li>
                        <img class="col-6" src="thesushi.png" alt="">
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>