$input-bg:  #25252519;
$input-color: #ff3e3e67;
$input-border-color: #ff3e3e67;
$input-focus-border-color:  #ff3e3e67;
$input-focus-box-shadow: nth;

$input-font-size: large;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';